@font-face { font-family: 'HangulHangang'; src: url('fonts/08SEOULHANGANGL.TTF') format('truetype');}
@font-face { font-family: 'HangulNamsan'; src: url('fonts/08SEOULNAMSANL.TTF') format('truetype');}

html { margin:20px 30px; font:1em/1.5 Verdana, sans-serif; background:#46016a }
body { position:relative; margin:0 0 0 160px; padding:4em 2em; border-left:10px solid #c2c152; min-width:200px; background:#eee }
h1 { position:absolute; top:5px; left:-155px; margin:0; z-index:1 }
h1 > a { content:url(../images/logo.png) }
h1 > a:hover { background:none !important }
nav { position:absolute; top:0; left:-170px; margin:0; padding:100px 16px 20px 15px; height:194px; width:129px; background:#bee5fe }
nav::after { margin:20px 0 0 -15px; display:block; content:url(../images/map.png) }
nav > a:first-child { margin-top:0 }
nav > a:link, nav > a:visited { -o-transition:.1s; -webkit-transition:.1s; -moz-transition:.1s; margin-top:6px; border:3px solid #73bac5; display:block; overflow:hidden; height:28px; font:bold 23px/22px HangulHangang, Truetype, sans-serif; text-transform:uppercase; text-indent:0.1em; background:#c2c152; color:#fff }
nav > a:link:hover, nav > a:visited:hover { -o-transform:scale(1.1); -webkit-transform:scale(1.1); -moz-transform:scale(1.1); background:#aeae3e; color:#fff }
nav > a + a:link, nav > a + a:visited { background-color:#f90 }
nav > a + a:link:hover, nav > a + a:visited:hover { background-color:#ec8d00 }
nav > a + a + a:link, nav > a + a + a:visited { background-color:#fb3b26 }
nav > a + a + a:link:hover, nav > a + a + a:visited:hover { background-color:#ec1c04 }
h2 { margin:2em 0 0 0; clear:left; text-shadow:#aaaaaa .1em .1em .1em; line-height:1; font-variant:small-caps }
h2 > :link, h2 > :visited { color:inherit }
h2:not(:first-of-type) { margin:0 }
h2:not(:first-of-type)::before { margin:0 20%; padding-top:2em; border-top:.1em solid #a5a53a; display:block; content:"" }
h3{ font-family: 'HangulHangang' }
body > time { display:block; line-height:1; font-size:.8em }
body > time > :link, body > time > :visited { font-weight:normal; color:inherit }
p { margin:1em 0 }
footer.links { clear:left; padding-bottom:0; text-align:center }
footer { margin:2em 0 0; padding-bottom:1em; display:block;}
p > img { margin:0 1em 1em 0; float:left }
address { margin:1em 0; font-style:normal }
pre, code { background:#b5b440 }s
table { border-collapse:collapse }
tbody > tr:nth-child(even) { background:#d2d17f }
td { padding:.2em; border:solid; border-right:none }
td:first-child { border-left:none }
th { padding:.3em; text-shadow:#aaaaaa .1em .1em .1em }
ins { text-decoration:none }s
ins::before { content:"[" }
ins::after { content:"]" }
:link, :visited { -o-transition:.1s; -webkit-transition:.1s; -moz-transition:.1s; font-weight:bold; text-decoration:none }
:link { color:#e10277 }
:visited { color:#46016a }
:link:hover { color:#c2c152; background:#e10277 }
:visited:hover { color:#c2c152; background:#46016a }
:link:hover code { background:#d2025d }
:visited:hover code { background:#410153 }
:link:focus { outline:thick solid #e10277 }
:visited:focus { outline:thick solid #46016a }
.href { font-size:smaller }
.href :link { color:#000 }
.href :link:hover { color:#fff }
::selection { color:#c2c152; background:#e10277 }

.wrapper{ margin:auto;}
#social{ float:right; margin:0px 30px 0 0; background:#c2c152 }
#share{	float:right; }
.facebook{}
#follow{ clear:right; padding-top:4px; margin-bottom:10px; }
#follow ul{ list-style-type:none; padding-left:0px; margin-left:0; }
#follow ul li{	display:inline; }
#follow ul a{	display:inline;	color:#333333;	font-size:20px;	margin-bottom:5px;	font-weight: bold;	text-decoration:none;	margin-right:30px;}
#follow ul a:hover{ color:#0b3752;}
#docs{margin-bottom:50px; float:left; }
#docs p{	margin:20px 0;}
#docs h2{margin:25px 0;}
#advanced input{	margin-right:20px;}
